<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-icon name="logo-reddit" id="logo-reddit" style="zoom:2.0;"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="loaded">
    <ion-card-content>
      {{weather}}
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="loaded">
    <ion-item text-wrap *ngFor="let post of posts">
      <p class="subreddit-item">[<a bind-href="'http://www.reddit.com/'+post.data.subreddit">{{post.data.subreddit}}</a>]
        &nbsp;&nbsp;comments:{{post.data.num_comments}}
        <a bind-href="'http://www.reddit.com'+post.data.permalink">{{post.data.title}}</a>
        <span class="src-link-right"><a item-right bind-href="post.data.url">source link</a></span>
      </p>
    </ion-item>
  </ion-list>

  <!-- 
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...（暂未实现）">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> 
  -->

  <ion-card *ngIf="!loaded" class='fakeCard'>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="!loaded">
    <ion-item text-wrap *ngFor="let post of fakePosts" class='fakeItem'>
      <p></p>
      <p></p>
    </ion-item>
  </ion-list>
</ion-content>