page-home {
  .fakeItem {

    h2,
    h3,
    p {
      background-color: lightgrey;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }

    h2 {
      width: 100%;
    }

    h3 {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }

  p {
    font-family: 'lato' !important;
    font-size: 18em;
    color: black;
  }

  .subreddit-item,
  a {
    color: black;
    text-decoration: none;
  }

  .src-link-right {
    float: right;
  }


}
